
A:link {color:black}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: teal}
	
Body {
	background-color: white;
	font-family: cambria;
	color: white	
	

	}


	
H1 {font-size: 50pt; text-align: center;}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .8em;
	border-color: darkgreen}


Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green
}




@media screen and (max-width: 700px ) {

	
	H1 {font-size: 50pt; text-align: center;}
	H2 {font-size: 25pt; text-align: center}
	H3 {font-size: 10pt; text-align: center}
	H4 {text-align: center}
	H5 {font-size: 15pt}



	Form {
	
		text-align: left; 
		color: white; 
	
	}
	input[type="text" i] {
		padding: 10px 20px;
	}

	#content1::before{
		content: "\a";
		white-space: pre;
	}

	#content2::before{
		content: "\a";
		white-space: pre;
	}



/* Dropdown Button */
.dropbtn {
	background-color: white;
	color: black;
	padding: 10px;
	font-size: 16px;
	border: none;
	

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
	
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  


}


